body {
  margin: 0;
  background-color: rgb(13, 13, 14);
}

.video {  
width: max;

}
nav ul {
  opacity: 90;
  list-style-type: none;
	margin: 0;
  background: transparent;
	overflow: hidden;
  color:rgb(197, 197, 211);
	display: flex;
	justify-content: space-evenly; 
}

nav li {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.font {
  font-size: 1em;
  color:rgb(197, 197, 211);
  
}

iframe {
  display: block;       
  background: #000;
  border: none;         
  height: 85vh;        
  width: 98vw;
}

/* Add a background color and some padding around the form */
#contact {
  /* display:flex;
  justify-content: left; */
  border-radius: 5px;
  color: #f2f2f2;
  padding: 1em;
  margin: 2rem 25rem;  
}

#concept {
  border-radius: 5px;
  color: #f2f2f2;
  padding: 1em;
  margin: 2rem ;  
}

.concept_title {
  text-align: center;
}

a:link {
  color:rgb(197, 197, 211);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color:rgb(197, 197, 211);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}



address {
  font-style: normal;
}

